*{
    padding: 0;
    margin: 0;
  }
  * {box-sizing: border-box;}
  @import "partials/varibles";
  @import "partials/index";
  @import "partials/hombre";
  @import "partials/nuevo";
  @import "partials/nosotros";
  @import "partials/mediaq";
