.headernosotros{
    background-color: #000000;
}
.footernosotros{
    background-color: #000000;
  color: $naranjaoscuro;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 20px 0;
  text-align: left;
}
.nosotrosnav{
    background-color: $naranjaoscuro;
}
